.App {
  font-family: sans-serif;
  text-align: center;
  display:grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
 justify-content: center;
 

}
.user-name {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
}
img {
  width: 180px;
  height:300px;
  object-fit: cover;
}
.card{
  border:5px;
  width:250px;
  height:600px;
  background-color: white;
  padding: 10px;;
}
body{
  background-color: whitesmoke;
  margin:25px;
}
p{
  font-size: small;
}